body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
}

.container-1, .container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly; 
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #687291;
}

#B, #D {
    background-color: #eeeff2;
}

#A, #C, #E {
    background-color: #dfe1e7;
}

#F {
    background-color: #687291;
    border: 4px solid black;
}